@media screen and (max-width: 768px) {
    .header__left {
        display: none;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 24px;
        height: 24px;
        padding: 6px 3px;
    }
    .header__burger::before,
    .header__burger::after {
        content: '';
        display: block;
        position: absolute;
        width: 18px;
        height: 2px;
        left: 0;
        background: #393939;
        border-radius: 20px;
        transition: all .5s ease;
    }
    .header__burger::before {
        top: 6px;
    }
    .header__burger::after {
        bottom: 6px;
    }
    .header__burger span {
        position: absolute;
        width: 18px;
        height: 2px;
        left: 0;
        top: 11px;
        background: #393939;
        border-radius: 20px;
        transition: transform .5s ease;
    }
    .header__burger.active::before {
        rotate: 45deg;
        top: 11px;
    }
    .header__burger.active::after {
        rotate: -45deg;
        bottom: 11px;
    }
    .header__burger.active span {
        transform: scale(0);
    }
    .header__aside {
        display: block;
        position: fixed;
        top: 96px;
        right: -100%;
        width: 50%;
        height: 100%;
        transition: all .5s ease;
        display: flex;
        justify-content: center;
        padding-top: 100px;
    }
    .header__aside.active {
        right: 0;
        background: #DF8928;
    }
    .header__nav--aside {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: left;
        gap: 35px;
    }
    .header__link--aside {
        color: #FFFFFF;
        font-size: 32px;
    }
    .button--aside {
        width: 100%;
        max-width: 133px;
        height: 48px;
        background: #FFFFFF;
        border-radius: 4px;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        color: #DF8928;
        transition: background .5s ease;
    }
    .button--aside:hover {
        background: #d4d4d4;
    }

    .contact__info {
        flex-direction: column;
        align-items: start;
    }
    .hero__circle {
        display: none;
    }
    
    .banner {
        display: none;
    }
}

@media screen and (max-width: 798px) {
    .footer__top {
        flex-direction: column;
        gap: 30px;
    }
    .footer__logo {
        min-height: 30px;
    }
    .footer__cont {
        gap: 32px;
    }
    .footer__credits {
        min-height: 208.43px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: end;
    }
    .footer__cookies {
        max-width: 108px;
        min-height: 111px;
        gap: 24px;
        flex-direction: column;
    }
    .footer__copyright {
        margin-top: 24px;
    }
    .footer__nav {
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .hero {
        background-position: -150px;
    }
    .hero__cont {
        justify-content: start;
        padding-top: 200px;
    }
    .hero__block {
        align-items: center;
        text-align: center;
        min-height: 200px;
        gap: 10px;
    }
    .hero__title {
        font-size: 28px;
    }
    .hero__desc {
        font-size: 16px;
    }
}